$text-primary: #999999;
$text-title: #5D686C;
$dark-font: #101010;

$bg-color: #f2f6fc;
$bg--lg-color: #FFF;

$panel-color: #E2E3F2;
$panel--dk-color: #5D686C;

$action: #062B62;
$bg-action: #C2D3EC;
$secondary-color: #FFC300;
$secondary--alt-clor: #FFDA61;
$secondary-gradiant: linear-gradient(to right, $secondary-color, $secondary--alt-clor);
$secondary--trans-gradiant: linear-gradient(to bottom, $secondary-color, #ffffff00);
$defeat-color: #FE5D5D;
$victory-color: #3EAF87;

