$text-primary: #999999;
$text-title: #5D686C;
$dark-font: #101010;

$bg-color: #f2f6fc;
$bg--lg-color: #FFF;

$panel-color: #E2E3F2;
$panel--dk-color: #5D686C;

$action: #062B62;
$bg-action: #C2D3EC;
$secondary-color: #FFC300;
